<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.smartpark.accessdoor.mapper.SpPassRecordMapper">
    <!--List<PassRecordResultVo> selectRecordPage(Pagination passRecordResultVoPage, @Param("conditionVo") ConditionVo conditionVo);-->
    <select id="selectRecordPage" resultMap="recordsResult" >
      SELECT
        p.name,p.sex,d.device_name,c.name company_name,r.create_time pass_time,r.face_url
        FROM sp_personnel p JOIN  sp_company c ON p.company_id = c.`id`
        RIGHT JOIN sp_pass_record r ON p.person_id = r.user_id
        JOIN sp_devices d ON r.device_id = d.device_id
        <where>
            <if test="conditionVo.deviceId != null">
                AND device_id = #{ConditionVo.deviceId}
            </if>
            <if test="conditionVo.startTime != null">
                AND create_time &gt;= #{ConditionVo.startTime}
            </if>
            <if test="conditionVo.endTime != null">
                AND create_time &lt;= #{ConditionVo.endTime}
            </if>
            <if test="conditionVo.name != null">
                AND `name` LIKE "%"#{ConditionVo.name}"%"
            </if>
        </where>


    </select>

    <resultMap id="recordsResult" type="passRecordResultVo" autoMapping="true">

    </resultMap>
</mapper>
